<!DOCTYPE html>
<html>
<head>
  <title>Bpluser</title>
  <%= stylesheet_link_tag    "bpluser/application", :media => "all" %>
  <%= javascript_include_tag "bpluser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
